<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h5 class="card-label" style="float:left;">
        Thông tin nhận nuôi PET
      </h5>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
              (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div style="margin: 45px;text-align: center;">
    <form name="editForm" role="form" novalidate [formGroup]="inputForm" #form='ngForm'>
      <div>
        <div class="form-group row">
          <label class="col-sm-2">Tên vật nuôi</label>
          <div class="col-sm-4">
            <label class="col-sm-4">{{petItem ? petItem.petName : ''}}</label>
            <!--            <input [maxLength]="35"-->
            <!--                   formControlName="templateName">-->
          </div>
          <label class="col-sm-2">Lý do</label>
          <div class="col-sm-4">
            <input [maxLength]="35"
                   formControlName="reason">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Khai báo điều kiện</label>
          <div class="col-sm-4">
            <input [maxLength]="35"
                   formControlName="conditions">
          </div>
          <label class="col-sm-2">Ngày gửi đơn</label>
          <div class="col-sm-4">
            <input [maxLength]="35"
                   formControlName="sentDate">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer justify-content-between text-right">
    <button type="submit" (click)="sentAdopt()"
            [disabled]="inputForm.invalid"
            class="btn btn-danger btn-shadow mr-2">Gửi
    </button>
    <button type="button" (click)="closed()"
            class="btn btn-danger btn-shadow mr-2">Đóng
    </button>
  </div>
</div>
