<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h5 class="card-label" style="float:left;">
        Chọn loại thuế/Tờ khai cần thanh toán
      </h5>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
              (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--        <div class="card-toolbar">-->
    <!--            <a href="#" class="btn btn-sm btn-light-primary font-weight-bold">-->
    <!--                <i class="flaticon2-cube"></i> Settings-->
    <!--            </a>-->
    <!--        </div>-->
  </div>
  <div style="margin: 45px;text-align: center;">
    <p>abc</p>
  </div>
  <div class="card-footer justify-content-between text-right">
    <button type="submit"
            class="btn btn-danger btn-shadow mr-2">Chọn
    </button>
    <button type="button"
            class="btn btn-danger btn-shadow mr-2">Đóng
    </button>
  </div>
</div>
