<div class="jumbotron jumbotron-fluid skrollable skrollable-between" data-center="background-size: 100%;"
     data-top-bottom="background-size: 110%;" style="background-size: 105.055%;padding-top: 8%;">
  <div class="container">
    <div class="jumbo-heading aos-init aos-animate" data-aos="fade-up">
      <h1>Thông tin từng Boss</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="color: white;">Trang chủ</a></li>
          <li class="breadcrumb-item"><a style="color: white;">Tất cả các bé</a></li>
          <li class="breadcrumb-item active" aria-current="page"> {{petItem ? petItem.petName : ''}}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col-12 page-with-sidebar aos-init aos-animate" data-aos="zoom-in">
      <div class="row">
        <div class="adopt-card col-lg-12 p-0 m-0">
          <div class="col-sm-5 col-md-5 col-lg-5 float-left avatar-animal">
            <img
              class="img-fluid rounded img-lazy-load w-100" alt="Choco"
              [src]="petItem ? petItem.path: null">
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 caption-adoption float-right">
            <h2 class="text-capitalize mt-3 mb-2">{{petItem ? petItem.petName : ''}}</h2>

            <ul class="list-unstyled adopt-card p-0 m-0">
              <li><strong>Giống:</strong> {{petItem ? petItem.genusName : 'Chưa rõ'}}</li>
              <li><strong>Màu sắc:</strong> {{petItem ? petItem.color : 'Chưa rõ'}}</li>
              <li><strong>Tuổi:</strong> &lt; {{petItem ? petItem.age : 'Chưa rõ'}}</li>
              <li><strong>Cân nặng:</strong> {{petItem ? petItem.weight : 'Chưa rõ'}}</li>
              <li><strong>Giới tính:</strong> {{petItem ? petItem.gender : 'Chưa rõ'}}</li>
              <li><strong>Mã:</strong> {{petItem ? petItem.petId : 'Chưa rõ'}}</li>
            </ul>

            <div class="fb-like d-block mt-3 fb_iframe_widget"
                 data-href="https://www.hanoipetadoption.com/vi/thu-cung/choco-20674" data-width=""
                 data-layout="button_count" data-action="like" data-size="large" data-show-faces="true"
                 data-share="true" fb-xfbml-state="rendered"
                 fb-iframe-plugin-query="action=like&amp;app_id=528677467971809&amp;container_width=625&amp;href=https%3A%2F%2Fwww.hanoipetadoption.com%2Fvi%2Fthu-cung%2Fchoco-20674&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=large&amp;width=">
              <span style="vertical-align: bottom; width: 174px; height: 28px;"><iframe name="fb5fa670ef2d2"
                                                                                        width="1000px" height="1000px"
                                                                                        data-testid="fb:like Facebook Social Plugin"
                                                                                        title="fb:like Facebook Social Plugin"
                                                                                        frameborder="0"
                                                                                        allowtransparency="true"
                                                                                        allowfullscreen="true"
                                                                                        scrolling="no"
                                                                                        allow="encrypted-media"
                                                                                        src="https://www.facebook.com/v5.0/plugins/like.php?action=like&amp;app_id=528677467971809&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df319993fee588e4%26domain%3Dwww.hanoipetadoption.com%26origin%3Dhttps%253A%252F%252Fwww.hanoipetadoption.com%252Ff2b1ba87c8519%26relation%3Dparent.parent&amp;container_width=625&amp;href=https%3A%2F%2Fwww.hanoipetadoption.com%2Fvi%2Fthu-cung%2Fchoco-20674&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=large&amp;width="
                                                                                        style="border: none; visibility: visible; width: 174px; height: 28px;"
                                                                                        class=""></iframe></span></div>

            <div class="mt-4 btn-animal-detail">
              <button type="button" class="btn btn-secondary" (click)="adopt()" style="margin-right: 10px;">Nhận nuôi
              </button>
              <button type="button" class="btn btn-primary">Bạn có câu hỏi?</button>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mt-4 aos-init aos-animate" data-aos="fade-up">
          <div class="">
            <h3 class="pt-2 text-capitalize">Thông tin</h3>
            <hr class="small-divider left mb-2">
            <div class="row mb-md-2 info-animal">
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i *ngIf="petItem.sterilization === null" class="status-info text-warning fa fa-question-circle"></i>
                    <i *ngIf="petItem.sterilization === 1" class="status-info text-success fa fa-check-circle"></i>
                    <i *ngIf="petItem.sterilization === 0" class="status-info text-danger fa fa-times-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Triệt sản</span>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i class="status-info text-success fa fa-check-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Thân thiện với người</span>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i class="status-info text-warning fa fa-question-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Chế độ ăn riêng</span>
                </div>
              </div>
            </div>
            <div class="row mb-md-2">
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i *ngIf="petItem.vaccination === null" class="status-info text-warning fa fa-question-circle"></i>
                    <i *ngIf="petItem.vaccination === 1" class="status-info text-success fa fa-check-circle"></i>
                    <i *ngIf="petItem.vaccination === 0" class="status-info text-danger fa fa-times-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Tiêm phòng bệnh</span>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i class="status-info text-warning fa fa-question-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Thân thiện với chó</span>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i class="status-info text-warning fa fa-question-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Đi vệ sinh đúng chỗ</span>
                </div>
              </div>
            </div>
            <div class="row mb-md-3">
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="row">
                  <div class="col-1 w-100 h-100 text-center">
                    <i class="status-info text-warning fa fa-question-circle"></i>
                  </div>
                  <span class="col-10 pl-2">Thân thiện với mèo</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mt-3 aos-init aos-animate" data-aos="fade-up">
          <div class="pt-4">
            <h3 class="text-capitalize">Tìm hiểu về thú cưng</h3>
            <hr class="small-divider left">
            {{petItem ? petItem.moreInformation : 'KHông có thông tin thêm'}}
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
