<div class="jumbotron jumbotron-fluid skrollable skrollable-between" data-center="background-size: 100%;"
     data-top-bottom="background-size: 110%;" style="background-size: 105.055%;padding-top: 8%;">
  <div class="container">
    <div class="jumbo-heading aos-init aos-animate" data-aos="fade-up">
      <h1>Thông tin từng Boss</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/vi">Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="https://www.hanoipetadoption.com/vi/tat-ca-cac-be">Tất cả các bé</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Choco</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col-12 page-with-sidebar" id="mainNews">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mb-5 aos-init aos-animate" data-aos="flip-left">
          <div class="blog-box">
            <a href="https://www.hanoipetadoption.com/vi/tin-tuc/cau-chuyen-phia-sau-cuon-lich-2021-83">
              <div class="image" style="height: 259.969px;">
                <img
                  src="https://www.hanoipetadoption.com/admin/user-content/News/c0bc9a8c-0462-4e2b-8111-b9006c0e1de1.jpg"
                  alt="Câu chuyện phía sau cuốn lịch 2021" class="img-fluid w-100" style="height: 390px;">
              </div>
            </a>
            <div class="blog-box-caption">
              <div class="date"><span class="day">14</span><span class="month">T 11</span></div>
              <a href="https://www.hanoipetadoption.com/vi/tin-tuc/cau-chuyen-phia-sau-cuon-lich-2021-83">
                <h5 class="text-capitalize" style="height: 50.4px;">câu chuyện phía sau cuốn lịch 2021</h5>
              </a>
              <p style="height: 75.6px;">
                12 tháng là 12 gương mặt đáng nhớ trong hành trình cứu hộ của HPA.
              </p>
            </div>
            <div class="blog-box-footer">
              <div class="author">Đăng bởi<a href="#"><i class="fas fa-user"></i>Nguyen Thanh Hien (English)</a></div>
              <!-- Button -->
              <div class="text-center col-md-12">
                <a href="https://www.hanoipetadoption.com/vi/tin-tuc/cau-chuyen-phia-sau-cuon-lich-2021-83"
                   class="btn btn-primary">Chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mb-5 aos-init aos-animate" data-aos="flip-left">
          <div class="blog-box">
            <a
              href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-cho-corgi-sinh-ra-voi-1-mat-va-2-mui-song-sot-ky-dieu-82">
              <div class="image" style="height: 259.969px;">
                <img
                  src="https://www.hanoipetadoption.com/admin/user-content/News/10e00460-d5cc-4cf4-9133-d429b85642cb.jpg"
                  alt="Chú chó Corgi sinh ra với 1 mắt và 2 mũi sống sót kỳ diệu " class="img-fluid w-100"
                  style="height: 390px;">
              </div>
            </a>
            <div class="blog-box-caption">
              <div class="date"><span class="day">23</span><span class="month">T 9</span></div>
              <a
                href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-cho-corgi-sinh-ra-voi-1-mat-va-2-mui-song-sot-ky-dieu-82">
                <h5 class="text-capitalize" style="height: 50.4px;">chú chó corgi sinh ra với 1 mắt và 2 mũi...</h5>
              </a>
              <p style="height: 75.6px;">
                Khuyết tật bẩm sinh khiến chú chó gặp rất nhiều trở ngại nhưng sức sống mãnh liệt đã chiến thắng tất cả.
              </p>
            </div>
            <div class="blog-box-footer">
              <div class="author">Đăng bởi<a href="#"><i class="fas fa-user"></i>Hanoi Pet Adoption (English only)</a>
              </div>
              <!-- Button -->
              <div class="text-center col-md-12">
                <a
                  href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-cho-corgi-sinh-ra-voi-1-mat-va-2-mui-song-sot-ky-dieu-82"
                  class="btn btn-primary">Chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mb-5 aos-init aos-animate" data-aos="flip-left">
          <div class="blog-box">
            <a
              href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-cho-shiba-inu-noi-tieng-khap-the-gioi-vi-trinh-pha-game-81">
              <div class="image" style="height: 259.969px;">
                <img
                  src="https://www.hanoipetadoption.com/admin/user-content/News/119adaac-de1f-4e8b-b53f-1bd1057611c2.jpg"
                  alt="Chú chó Shiba Inu nổi tiếng khắp thế giới vì trình 'phá game' " class="img-fluid w-100"
                  style="height: 390px;">
              </div>
            </a>
            <div class="blog-box-caption">
              <div class="date"><span class="day">23</span><span class="month">T 9</span></div>
              <a
                href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-cho-shiba-inu-noi-tieng-khap-the-gioi-vi-trinh-pha-game-81">
                <h5 class="text-capitalize" style="height: 50.4px;">chú chó shiba inu nổi tiếng khắp thế giới...</h5>
              </a>
              <p style="height: 75.6px;">
                Trong hội bạn thân nào cũng có ai đó chuyên gia "phá game", cả đám tạo dáng đồng đều riêng mình nó lại
                muốn khác biệt
              </p>
            </div>
            <div class="blog-box-footer">
              <div class="author">Đăng bởi<a href="#"><i class="fas fa-user"></i>Hanoi Pet Adoption (English only)</a>
              </div>
              <!-- Button -->
              <div class="text-center col-md-12">
                <a
                  href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-cho-shiba-inu-noi-tieng-khap-the-gioi-vi-trinh-pha-game-81"
                  class="btn btn-primary">Chi tiết</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mb-5 aos-init aos-animate" data-aos="flip-left">
          <div class="blog-box">
            <a href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-meo-buon-ba-nhat-the-gioi-ngay-ay--bay-gio-80">
              <div class="image" style="height: 259.969px;">
                <img
                  src="https://www.hanoipetadoption.com/admin/user-content/News/03463976-e7c6-424e-a3ac-c3426a0d78dd.jpg"
                  alt="'Chú mèo buồn bã nhất thế giới' ngày ấy - bây giờ" class="img-fluid w-100"
                  style="height: 390px;">
              </div>
            </a>
            <div class="blog-box-caption">
              <div class="date"><span class="day">23</span><span class="month">T 9</span></div>
              <a href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-meo-buon-ba-nhat-the-gioi-ngay-ay--bay-gio-80">
                <h5 class="text-capitalize" style="height: 50.4px;">'chú mèo buồn bã nhất thế giới' ngày ấy...</h5>
              </a>
              <p style="height: 75.6px;">
                Cái kết hạnh phúc cho chú mèo chỉ sau 1 năm
              </p>
            </div>
            <div class="blog-box-footer">
              <div class="author">Đăng bởi<a href="#"><i class="fas fa-user"></i>Hanoi Pet Adoption (English only)</a>
              </div>
              <!-- Button -->
              <div class="text-center col-md-12">
                <a href="https://www.hanoipetadoption.com/vi/tin-tuc/chu-meo-buon-ba-nhat-the-gioi-ngay-ay--bay-gio-80"
                   class="btn btn-primary">Chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
