.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section {
  background: #fff;
  padding-bottom: 45px;
}

.breadcrumb {
  background-color: #d61c62;
  display: inline-flex !important;
}
