<div class="cart-bg-overlay"></div>
<section class="welcome_area bg-img background-overlay" style="background-image: url(assets/img/slide/pet2.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
          <h1>HÃY NHẬN NUÔI, ĐỪNG XUA ĐUỔI!</h1><br>
          <p style="color: #f5ffcc !important;">Loài vật cũng có tri giác và cảm xúc, chúng cũng biết đau, biết sợ hãi,
            biết yêu thương và muốn được yêu thương.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="cta-area">
  <div class="container">
    <div class="row">
      <div class="col-12" style="margin-top: 31px;">
        <h3 class="text-capitalize">nhận nuôi thú cưng</h3>
      </div>
      <div class="col-12">
        <p class="mt-3 text-justify" aria-hidden="true">
          <img style="width: 300px;margin-left: 30px;"
               data-src="https://www.hanoipetadoption.com/admin/user-content/ca35ac07-24b7-4e83-bddd-866a6a450365.jpg"
               class="img-fluid float-right img-lazy-load" alt="NHẬN NUÔI THÚ CƯNG - HANOI PET ADOPTION"
               src="https://www.hanoipetadoption.com/admin/user-content/ca35ac07-24b7-4e83-bddd-866a6a450365.jpg">
          Chúng tôi là một nhóm trẻ gồm tình nguyện viên Việt Nam và một số bạn nước ngoài, cùng hoạt động vì tình yêu
          chó mèo. Tôn chỉ hoạt động của chúng tôi là không từ bỏ nỗ lực với bất kỳ con vật nào, dù bé có ốm yếu hay tàn
          tật tới đâu, bởi mỗi thú cưng đều cần có cơ hội hi vọng vào một tương lai tốt đẹp. Chúng tôi cố gắng chăm sóc
          tốt nhất có thể, phần nào bù đắp lại những tổn thương cho các bé được cứu hộ về dù là hoang, lạc, bị bỏ rơi
          hay bạo hành. Ngoài ra, chúng tôi cũng luôn nỗ lực tìm mái ấm yêu thương các bé trọn đời. Và cuối cùng, chúng
          tôi giúp nâng cao nhận thức về trách nhiệm của chủ nuôi thông qua mạng xã hội và các hoạt động thiện
          nguyện.<br><br>Là một trong những trạm cứu hộ thú cưng ít ỏi tại Hà Nội, hoạt động từ năm 2015 đến nay, Nhóm
          đã góp phần cứu giúp trên 2,000 ca chó mèo bị bỏ rơi, hoang lạc, bị bạo hành, đồng thời tìm mái ấm mới cho
          hàng trăm bé.
        </p>
        <div>
          <button class="btn btn-primary " aria-label="Về chúng tôi" aria-labelledby="Về chúng tôi">Về chúng tôi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-end justify-content-center bg-img"
             style="background-image: url(assets/img/slide/pet3.jpg);">
          <div class="catagory-content">
            <a href="#">ỦNG HỘ</a>
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-end justify-content-center bg-img"
             style="background-image: url(assets/img/slide/pet4.jpg);">
          <div class="catagory-content">
            <a href="#">TÌNH NGUYỆN</a>
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-end justify-content-center bg-img"
             style="background-image: url(assets/img/slide/pet5.jpg);">
          <div class="catagory-content">
            <a href="#">NHẬN NUÔI</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="new_arrivals_area clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>NHẬN NUÔI</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pet-ad">
        <carousel
          [images]="images2"
          (selectChange)="selectChange($event)"
          [freeScroll]="true">
        </carousel>
        <div style="text-align: center; justify-content: center;">
          <button type="button" class="btn btn-outline-success">Nhận nuôi</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="brands-area d-flex align-items-center justify-content-between">
  <div style="height: 168px;">
    <img src="assets/img/core-img/jumbotron-adopt.jpg" alt="">
  </div>
</div>
